.abonnement {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 50px 42px;
  background-color: $white;
  position: relative;
}

.abonnement__title {
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.abonnement__time {
  text-align: center;
}

.abonnement__price {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding-top: 46px;
  min-height: 120px;
  min-width: 206px;
}

.abonnement__price-background {
  display: inline-block;
  width: 100%;
  top: -2px;
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  text-align: center;
  color: #e8e8e8;
  opacity: 0.48;
  position: absolute;
  z-index: 1;
}

.abonnement__price-number {
  display: inline-block;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: $add-accent-text;
  position: relative;
  z-index: 2;
}

.abonnement__ruble {
  display: inline-block;
  background-image: url("/__spritemap#sprite-ruble-view");
  width: 24px;
  height: 34px;
}

.abonnement__button {
  @include link-edit;

  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 25px 42px;
  border: 2px solid $main-text;

  &:hover {
    color: $white;
    background: $btn-grad;
    border: none;
  }

  &:focus {
    color: $white;
    background: $btn-grad;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background: $btn-grad;
    border: none;
  }
}

.abonnement:has(>.abonnement__button:hover) {
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;
  padding: 43px 35px;

  @media (min-width: $tablet-width) {
    padding: 58px;
  }
}

@media (min-width: $tablet-width) {
  .abonnement {
    padding: 65px;
    row-gap: 22px;
  }

  .abonnement__title {
    font-size: 24px;
    line-height: 24px;
  }

  .abonnement__time {
    font-size: 16px;
    line-height: 24px;
  }

  .abonnement__price {
    padding-top: 60px;
    height: 150px;
  }

  .abonnement__price-number {
    font-size: 60px;
    line-height: 90px;
  }

  .abonnement__ruble {
    width: 30px;
    height: 42px;
  }

  .abonnement__price-background {
    font-size: 100px;
    line-height: 150px;
    top: 0;
    left: -1px;
  }

  .abonnement__button {
    width: 250px;
    padding: 25px 44px;
  }
}

@media (min-width: $desktop-width) {
  .abonnement {
    row-gap: 17px;
  }

  .abonnement__title {
    font-size: 26px;
    line-height: 26px;
  }

  .abonnement__button {
    width: 230px;
  }
}
