.about {
  padding: 40px 0;
}

.about__text {
  margin-bottom: 36px;
}

.about__title {
  margin-bottom: 12px;
  text-align: left;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
  margin-bottom: 36px;
}

.about__text p {
  margin: 0;
  margin-bottom: 8px;
}
