.faqs {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $add-background;
}

.faqs__title {
  margin-bottom: 35px;
}

.faqs__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 290px;
}

.faqs__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 290px;
}

.faqs__tab {
  width: 140px;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border: 1px solid #10265433;

  &--current {
    padding: 15px 23px;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    color: $white;
    border: none;
  }
}

.faqs__list {
  @include list-reset;
  display: none;
}

.faqs__list--current {
  display: block;
}

.faqs__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #74819c;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: 1px solid #74819c;
  }
}

.faqs__button {
  position: absolute;
  content: "";
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $add-background-blocks;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    right: 7px;
    top: 7px;
    width: 14px;
    height: 14px;
    background-image: url("../../__spritemap#sprite-plus-view");
  }

  &--dark-minus {
    background-color: $add-background-blocks;
    top: 25px;

    &::after {
      background-image: none;
      height: 1px;
      background-color: $white;
      top: 14px;
    }
  }
}

.faqs__content {
  h3 {
    margin: 0;
    width: 230px;
  }

  p {
    width: 290px;
    margin: 0;
    overflow: hidden;
    //max-height: 0;
    display: none;
    transition: height 5s;
  }

  &--open {
    p {
      //max-height: 100px;
      display: block;
      padding-top: 20px;
    }
  }
}
