.form__wrapper {
  width: 290px;
  margin: 0 auto;
}

.form__title {
  margin-bottom: 36px;
  text-align: left;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin-bottom: 36px;

  input {
    color: $white;
    background-color: inherit;
    border: none;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid $gray-button;
    padding: 2px 0;
  }

  input:not(:focus):invalid {
    border-bottom: 1px solid $error;
  }

  input:not(:focus):valid {
    border-bottom: 1px solid $gray-button;
  }

  input::placeholder {
    font-weight: 300;
    color: $white;
    opacity: 0.4;
  }

  input:hover {
    border-color: $white;
  }

  input:focus {
    outline: none;
    border: 1px solid $gray-button;
    padding: 1px 0;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:disabled {
    opacity: 0.4;
    border-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
}

.form__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  border: 2px solid $white;
  padding: 22px 0;
  text-transform: uppercase;
  width: 290px;
  background-color: inherit;
  color: inherit;

  &:hover {
    color: $white;
    background: $btn-grad;
    border: none;
    padding: 26px 0;
  }

  &:focus {
    color: $white;
    background: $btn-grad;
  }

  &:active {
    color: $main-text;
    background: $white;
    border: none;
    padding: 26px 0;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 440px;
  }

  .form__title {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  .form__inputs {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    input {
      width: 205px;
      padding: 2px 0 1px;
    }
  }

  .form__button {
    width: 440px;
    padding: 25px 0;

    &:hover,
    &:active {
      padding: 27px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 477px;
  }

  .form__title {
    text-align: left;
  }

  .form__inputs {
    width: 477px;

    label {
      flex-grow: 1;
    }

    input {
      width: 100%;
      padding: 2px 0 1px;
    }
  }

  .form__button {
    width: 477px;
  }
}
