.form-contact__free-class {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $main-text;
  color: $white;
  margin-left: -15px;
  margin-right: -15px;
}

.form-contact__contact {
  padding-top: 40px;
  padding-bottom: 40px;
}
