.slides-rev {
  width: 290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.slides-rev__container {
  background-color: $add-background-blocks;
  box-shadow: 0px 0px 40px 0px #1c337433;
}

.slides-rev__wrapper {
  height: 328px;
}

.slides-rev__item {
  color: $white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 30px 25px;

  img {
    display: block;
    border-radius: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
  }

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  p {
    width: 190px;
    text-align: center;
    margin: 0;
  }

  p + p {
    margin: 8px 0 0;
  }
}

.slides-rev__button {
  display: none;
}
