.social {
  @include list-reset;

  display: flex;
  gap: 20px;
  width: 115px;
  flex-wrap: wrap;
}

.social__link {
  @include link-edit;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark;

  &:hover {
    background-color: $gray-button;
    color: $white;
  }

  &:focus {
    background-color: $add-accent-text;
    color: $white;
  }

  &:active {
    background-color: $main-text;
    color: $white;
  }

  &--disabled,
  &:disabled {
    background-color: rgba($white, 0.3);
    pointer-events: none;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .social {
    gap: 15px;
    width: 105px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    gap: 10px;
    width: 95px;
  }
}
