.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs__button {
  border: none;
  background-color: inherit;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 6px;

  &--current {
    border-bottom: 2px solid $current-tab;
  }
}

@media (min-width: $tablet-width) {
  .tabs__button {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .tabs__button {
    font-size: 20px;
    line-height: 20px;
  }
}
