.visuals__img {
  text-align: center;
  margin-bottom: 36px;
}

.visuals__img img{
  display: block;
}

.visuals__video {
  position: relative;
  overflow: hidden;
  background-image: url("../../img/mobile/video-mob.png");
  background-size: 100% auto;
  padding-bottom: 56.25%;
}

.visuals__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  display: none;
}
